body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.personal-data {
    width: 10vw;
    display: block;
}

.box{
    background-color: #06916c;
    width: 660px;
    height: 760px;  
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.box2{
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-top: 20%;
    margin: 30px 20%;
    border-radius: 20px;
    background-color: #22745ecc;    
}

.titulo, h1 {
    margin: 30px;
    padding: 0px;
}
img {
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin-top: 30px;
    background-color: transparent;
    border-radius: 10000%;
}
.href {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    color: white;
}
.general {
    margin: 0px;
    text-align: 0px;
    background-color: #06916c;
    text-align: left;

}
nav li {
    width: 80%;
    height: 80%;
    margin-left: 0% ;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    background-color: #22745ecc;  
}
.info{
    margin: 2%;
    padding: 2%;
    color: white;
}
audio {
    margin: 2%;
    padding: 2%;
    color: white;

}
video {
    width: 250px;
    height: 250px;
    margin: 16px;
}
p {
    margin: 16px;
    
}



